.tabpanel
  %ul.nav.nav-tabs{ role: "tablist" }
    %li.active{ role: "presentation" }
      %a{ href: "#map", aria: { controls: "map" }, role: "tab", data: { toggle: "tab" } } Quest Map
    %li{ role: "presentation" }
      %a{ href: "#completed", aria: { controls: "list" }, role: "tab", data: { toggle: "tab" } } Completed Quests
    %li{ role: "presentation" }
      %a{ href: "#accepted", aria: { controls: "list" }, role: "tab", data: { toggle: "tab" } } Accepted Quests
    %li{ role: "presentation" }
      %a{ href: "#available", aria: { controls: "list" }, role: "tab", data: { toggle: "tab" } } Available Quests



  .tab-content
    .tab-pane.active.quests#map{ role: "tabpanel" }
      #map-canvas

    .tab-pane.quests#completed{ role: "tabpanel" }
      .panel.panel-primary
        .panel-heading Completed Quests
        .panel-body 
          = render "quests/missions", missions: @completed_quests

    .tab-pane.quests#accepted{ role: "tabpanel" }
      .panel.panel-primary
        .panel-heading Accepted Quests
        .panel-body 
          = render "quests/missions", missions: @accepted_quests

    .tab-pane.quests#available{ role: "tabpanel" }
      .panel.panel-primary
        .panel-heading Available Quests
        .panel-body
          = render "quests/quests", quests: @available_quests

:javascript
  $(function(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        function(position) {
          handler = Gmaps.build("Google");
          handler.buildMap({ provider: { Zoom: 10, center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude)}, internal: {id: 'map-canvas'}}, function(){
            markers = handler.addMarkers(#{raw @quests.to_json})
            handler.bounds.extendWith(markers);
          })
        }
      ) 
    } else {

    }
    RigPirate.Tooltip.init()
  })
