.row
  .col-lg-3.col-md-3.col-xs-3.sidebar
    = render "shared/sidebar"
  .col-lg-9.col-md-9.col-xs-9.central
    .row
      .col-lg-12.col-md-12.col-xs-12
        .panel.panel-primary
          .panel-heading
            Your Posts
          .panel-body
            - if @posts.present?
              - @posts.each do |post|
                = render "posts/post", post: post
            - else
              .alert.alert-info
                %i.fa.fa-info-circle
                Nothing much is going on.
        
      

