.jumbotron.patterned
  .text-center
    %h1 Ze Title
    %p Some awesome text here

    = link_to new_user_registration_path, class: "btn btn-primary" do
      %i.fa.fa-sign-in
      Sign Up and Let's Start!

%section
  .container
    .row
      .col-lg-4.col-md-4.col-md-4.text-center
        %i.icon.ion-ios-people
        %h4 Some title
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .col-lg-4.col-md-4.col-md-4.text-center
        %i.icon.ion-ios-location
        %h4 Some title
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .col-lg-4.col-md-4.col-md-4.text-center
        %i.icon.ion-cube
        %h4 Some title
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 


%footer
  .container
    .pull-left
      %small
        Built with Love and Support.
    .pull-right
      %small
        &copy; 2015 All Rights Reserved.
    
