.jumbotron.patterned
  .text-center
    %h1 Rigpirate
    %p Where the adventure never ends

    = link_to new_user_registration_path, class: "btn btn-primary" do
      %i.fa.fa-sign-in
      Sign Up and Let's Start!

%section
  .container
    .row
      .col-lg-4.col-md-4.col-md-4.text-center
        %i.icon.ion-ios-people
        %h4 Join Us!
        %p Why? It'll blow your mind! and you would want more! and keep comming back for more!
      .col-lg-4.col-md-4.col-md-4.text-center
        %i.icon.ion-ios-location
        %h4 Adventure
        %p  Did someone say adventure?! see for your self here, making work into fun working environment rather than the repetitive noring jobs
      .col-lg-4.col-md-4.col-md-4.text-center
        %i.icon.ion-cube
        %h4 Pirate Booty
        %p Get real life rewards here! not just virtual ones! time to dig up some treasure's and have your self a a great time 

= render "shared/footer"
