.row
  .col-lg-3.col-md-3.col-xs-3.sidebar
    = render "shared/sidebar"
  .col-lg-9.col-md-9.col-xs-9.central
    = render "rapidfire/question_groups/overview"
    = render "rapidfire/question_groups/per_user"

