# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 72a53a92e2623d7111d2c2ad884325f713e1e92b5a3dfe736b432916c0568878796fb6066b5087ef995dc1dccfca091e9f21d1f8921862ab934b2152053e0120
  filepicker_api_key: AdTnlIdn2Se2M0G28b6fnz
  mandrill_username: app34330269@heroku.com
  mandrill_password: kuvpUUAPdEUJZbKgJen4Sg
  no_reply_email: noreply@rigpirate.com
test:
  secret_key_base: c2eaabc2a544f04b0e953718aee51fdf4f34e66d7b2819810e45fd000fad7ac0e062906d44d0aead83ea08ebeea50bd53d89820f3ad82bd9353f8025d391a3e1
  filepicker_api_key: AdTnlIdn2Se2M0G28b6fnz
  mandrill_username: app34330269@heroku.com
  mandrill_password: kuvpUUAPdEUJZbKgJen4Sg
  no_reply_email: noreply@rigpirate.com

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base:    <%= ENV["SECRET_KEY_BASE"] %>
  filepicker_api_key: <%= ENV["FILEPICKER_API_KEY"] %>
  mandrill_username:  <%= ENV["MANDRILL_USERNAME"] %>
  mandrill_password:  <%= ENV["MANDRILL_APIKEY"] %>
  no_reply_email:     <%= ENV["NO_REPLY_EMAIL"] %>
