.comments {
  padding: 10px 15px;
  background: darken($white, 10%);
  border-radius: 5px;


  .form-group { margin: 2px 0px; }

  textarea { 
    padding: 5px 7px;
    font-size: 13px;
    height: 26px;
  }

  .text-center {
    line-height: 32px; 
  }
}

.comment {
  font-size: 13px;
  margin: 10px 0px;

  img {
    width: 40px;
    height: 40px;
  }

  strong {
    color: $green;

    span {
      color: $black;
      font-weight: 300;
    }
  }

  small {
    i {
      color: $darkblue;

      span {
        color: $green;
        font-family: $font;
      }
    }
  }
}
