.modal-content
  .modal-header
    %button.close{ data: { dismiss: "modal" } }
      %span= "&times;".html_safe
    %h4.modal-title Quest Details
  .modal-body.quest-details
    - images = @mission.filepicker_url.split(",")

    - images.each do |image|
      .row
        .col-lg-12.col-md-12.col-xs-12.text-center
          = image_tag image, onerror: "RigPirate.Missions.catchImageErrors(this)"
  .modal-footer
    %button.btn.btn-default{ data: { dismiss: "modal" } } Close

:javascript
  $(function(){ 
    RigPirate.Modals.close(); 
    RigPirate.Missions.catchImageErrors();
  })
